.buttonMoreWrapper {
  width: 100%;
  text-align: center;
  padding: 0px 20px;
}

.buttonMore {
  width: 100%;
  padding: 17px;
  border-radius: 3px;
  background-color: var(--orange);
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
  cursor: pointer;
}

@media all and (min-width: 1024px) {
  .cardsList {
    padding: 40px 0;
  }

  .buttonMoreWrapper {
    padding: 0;
  }

  .buttonMore {
    width: 220px;
  }
}
