.karmaCounter > * + * {
    padding: 0 0 0 4px;
  }

  .karmaValue {
    color: var(--greyC4);
    font-size: 12px;
    line-height: 14px;
  }

  svg.down {
    transform: rotate(180deg);
  }

  @media all and (min-width: 1024px) {
    .karmaCounter {
      position: absolute;
      top: -2px;
      left: -10.5px;
      padding-bottom: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
      background-color: var(--white);
    }

    .karmaCounter > * + * {
      padding: 5px 0 0;
    }

    .karmaValue {
      display: none;
    }
  }

  @media all and (min-width: 1540px) {
    .karmaCounter > button.up:hover > svg > path {
      fill: var(--green);
    }

    .karmaCounter > button.down:hover > svg > path {
      fill: var(--orange);
    }
  }
