.sortBy {
  margin: 0 -24px;
  margin-top: 10px;
  padding: 13px 24px;
  width: calc(100% + 48px);
  background-color: var(--grayF4);
}

.sortByText {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--grey99);
}

.sortBySelect {
  color: var(--orange);
}

@media all and (min-width: 1024px) {
  .sortBy {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    padding-bottom: 13px;
    width: 100%;
    background-color: var(--white);
    border-bottom: 1px solid var(--greyD9);
  }
}
